* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  line-height: 1.5rem;
}
body {
  padding-top: 5rem;
}
.headerBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #489FB5;
  color: #EDE7E3;
  height: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.appName {
  font-size: 2rem;
  margin-left: 1rem;
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  margin-top: 1rem;
  text-align: justify;
}


.badge {
  border: thin solid black;
  border-radius: 0.75rem;
  min-width: 1.25rem;
  text-align: center;
  background-color: #fff;
  color: #000;
  margin-right: 1rem;
}
.button:active {
  background: #cbd4d7;
  border: thin solid #bac3c6;
}

.button img {
  display: inline-block;
  vertical-align: middle;
  padding: 0.25rem;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
}


.buttonGroup .button {
  flex: 1;
  border-radius: 0;
}

.buttonGroup.end {
  justify-content: flex-end;
}

.buttonGroup .button.half {
  flex: 0.5;
}

.buttonGroup .button.third {
  flex: 0.33;
}

.buttonGroup .button.quarter {
  flex: 0.25;
}

.buttonGroup .button:first-child {
  border-radius: 0.35rem 0 0 0.35rem;
}

.buttonGroup .button:last-child {
  border-radius: 0 0.35rem 0.35rem 0;
}

.buttonGroup .button:first-child:last-child {
  border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;
}



/* cores */
.active {
  color: #EDE7E3;
  background: #FFA62B;
  border: thin solid #2a679b;
}
.active:active {
  background: #489FB5;
  border: thin solid #16697A;
}
.primary {
  color: #EDE7E3;
  background: #FFA62B;
  border: thin solid #2a679b;
}
.primary:active {
  background: #489FB5;
  border: thin solid #16697A;
}
.secondary {
  color: #000;
  background: #82C0CC;
  border: thin solid #82C0CC;
}
.secondary:active {
  background: #abbdc9;
  border: thin solid #9aacb8;
}
.success {
  color: #EDE7E3;
  background: #2a9d8f;
  border: thin solid #198c7e;
}
.success:active {
  background: #087b6d;
  border: thin solid #006a5c;
}
.warning {
  color: #EDE7E3;
  background: #D84727;
  border: thin solid #D84727;
}
.warning:active {
  background: #ddb044;
  border: thin solid #cca033;
}
.danger {
  color: #EDE7E3;
  background: #ef233c;
  border: thin solid #de122b;
}
.danger:active {
  background: #cd011a;
  border: thin solid #bc0009;
}
.light {
  color: #000;
  background: #edf6f9;
  border: thin solid #dce5e8;
}
.light:active {
  background: #cbd4d7;
  border: thin solid #bac3c6;
}
.dark {
  color: #EDE7E3;
  background: #5EB1BF;
  border: thin solid #16697A;
}
.dark:active {
  background: #E7DFDA;
  border: thin solid #3E3128;
}

/*CARDS*/
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 

.bar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  left: 0;
  padding: 0 21px;
  position: absolute;
  width: 100%;
}
.bar-purple {
  background: #6000ea;
  color: white;
  clip-path: polygon(
    360px 0,
    360px 32px,
    43px 32px,
    39.775442px 31.67494px,
    36.772078px 30.74264px,
    34.054248px 29.26745px,
    31.686292px 27.31371px,
    29.732549px 24.94575px,
    28.257359px 22.22792px,
    27.325063px 19.22456px,
    27px 16px,
    27.325063px 12.77544px,
    28.257359px 9.77208px,
    29.732549px 7.05425px,
    31.686292px 4.68629px,
    34.054248px 2.73255px,
    36.772078px 1.25736px,
    39.775442px 0.32506px,
    43px 0
  );
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.option {
  cursor: pointer;
  line-height: 142px;
  text-align: center;
  width: 33.33%;
}
.bar-outer {
  clip-path: polygon(0 0, 120px 0, 120px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    104px 32px,
    107.22456px 31.67494px,
    110.22792px 30.74264px,
    112.94575px 29.26745px,
    115.31371px 27.31371px,
    117.26745px 24.94575px,
    118.74264px 22.22792px,
    119.67494px 19.22456px,
    120px 16px,
    119.67494px 12.77544px,
    118.74264px 9.77208px,
    117.26745px 7.05425px,
    115.31371px 4.68629px,
    112.94575px 2.73255px,
    110.22792px 1.25736px,
    107.22456px 0.32506px,
    104px 0
  );
  height: 32px;
  pointer-events: none;
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.bar-outer.pos2 .bar-purple {
  clip-path: polygon(
    360px 0,
    360px 32px,
    149px 32px,
    145.775442px 31.67494px,
    142.772078px 30.74264px,
    140.054248px 29.26745px,
    137.686292px 27.31371px,
    135.732549px 24.94575px,
    134.257359px 22.22792px,
    133.325063px 19.22456px,
    133px 16px,
    133.325063px 12.77544px,
    134.257359px 9.77208px,
    135.732549px 7.05425px,
    137.686292px 4.68629px,
    140.054248px 2.73255px,
    142.772078px 1.25736px,
    145.775442px 0.32506px,
    149px 0
  );
}
.bar-outer.pos2 {
  clip-path: polygon(
    0 0,
    0 32px,
    210px 32px,
    213.22456px 31.67494px,
    216.22792px 30.74264px,
    218.94575px 29.26745px,
    221.31371px 27.31371px,
    223.26745px 24.94575px,
    224.74264px 22.22792px,
    225.67494px 19.22456px,
    226px 16px,
    225.67494px 12.77544px,
    224.74264px 9.77208px,
    223.26745px 7.05425px,
    221.31371px 4.68629px,
    218.94575px 2.73255px,
    216.22792px 1.25736px,
    213.22456px 0.32506px,
    210px 0
  );
}
.bar-outer.pos3 .bar-purple {
  clip-path: polygon(
    360px 0,
    360px 32px,
    256px 32px,
    252.775442px 31.67494px,
    249.772078px 30.74264px,
    247.054248px 29.26745px,
    244.686292px 27.31371px,
    242.732549px 24.94575px,
    241.257359px 22.22792px,
    240.325063px 19.22456px,
    240px 16px,
    240.325063px 12.77544px,
    241.257359px 9.77208px,
    242.732549px 7.05425px,
    244.686292px 4.68629px,
    247.054248px 2.73255px,
    249.772078px 1.25736px,
    252.775442px 0.32506px,
    256px 0
  );
}
.bar-outer.pos3 {
  clip-path: polygon(0 0, 333px 0, 333px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    317px 32px,
    320.22456px 31.67494px,
    323.22792px 30.74264px,
    325.94575px 29.26745px,
    328.31371px 27.31371px,
    330.26745px 24.94575px,
    331.74264px 22.22792px,
    332.67494px 19.22456px,
    333px 16px,
    332.67494px 12.77544px,
    331.74264px 9.77208px,
    330.26745px 7.05425px,
    328.31371px 4.68629px,
    325.94575px 2.73255px,
    323.22792px 1.25736px,
    320.22456px 0.32506px,
    317px 0
  );
}
.bar-outer.left .bar-purple {
  transition-delay: 0;
}
.bar-outer.left {
  transition-delay: 80ms;
}
.bar-outer.right .bar-purple {
  transition-delay: 80ms;
}
.bar-outer.right {
  transition-delay: 0;
}

html {
  height:100%;
  background-image: linear-gradient(to right top, #5EB1BF 0%, #3498db 100%);
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}


/* margem */
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mt3 {
  margin-top: 3rem;
}
.mt4 {
  margin-top: 4rem;
}